In [1]:
import pandas as pd
import numpy as np

In [2]:
fs = pd.read_csv('Africa Food Supply (2004 - 2013).csv')

In [3]:
fp = pd.read_csv('Africa Food Production (2004 - 2013).csv')

In [4]:
fp

        Country                Item  Year  Value
0       Algeria  Wheat and products  2004   2731
1       Algeria  Wheat and products  2005   2415
2       Algeria  Wheat and products  2006   2688
3       Algeria  Wheat and products  2007   2319
4       Algeria  Wheat and products  2008   1111
...         ...                 ...   ...    ...
23105  Zimbabwe         Crustaceans  2009      0
23106  Zimbabwe         Crustaceans  2010      0
23107  Zimbabwe         Crustaceans  2011      0
23108  Zimbabwe         Crustaceans  2012      0
23109  Zimbabwe         Crustaceans  2013      0

[23110 rows x 4 columns]

In [5]:
rice = fp[fp['Item'].str.contains('Rice')]

In [6]:
rice.groupby('Country')['Value'].sum().sort_values(ascending = False)

Country
Egypt                          40370
Nigeria                        26964
Madagascar                     26118
United Republic of Tanzania    10956
Guinea                         10400
Mali                           10371
Cote d'Ivoire                   6439
Sierra Leone                    6038
Senegal                         2462
Ghana                           2443
Liberia                         1602
Burkina Faso                    1265
Uganda                          1234
Chad                            1167
Mozambique                      1110
Guinea-Bissau                   1030
Benin                            850
Cameroon                         767
Mauritania                       751
Malawi                           674
Togo                             653
Kenya                            504
Rwanda                           482
Ethiopia                         469
Gambia                           325
Morocco                          274
Niger                            267
Central African Republic         261
Zambia                           212
Sudan                            170
Angola                           103
South Africa                      22
Gabon                             10
Congo                             10
Zimbabwe                           1
Mauritius                          1
Swaziland                          0
Algeria                            0
Name: Value, dtype: int64

In [7]:
fs['Year'] = fs['Year'].astype('str')

In [8]:
temp  = fs[fs['Year'].str.contains('2004|2005|2006')]

In [9]:
temp.columns

Index(['Country', 'Year', 'Value'], dtype='object')

In [10]:
temp.groupby('Country')['Value'].sum().sort_values(ascending = True)

Country
Zambia                          5577
Ethiopia                        5827
Central African Republic        6044
Rwanda                          6050
Chad                            6082
Madagascar                      6123
Zimbabwe                        6184
Mozambique                      6208
Angola                          6226
Sierra Leone                    6261
Kenya                           6344
Liberia                         6368
United Republic of Tanzania     6373
Congo                           6449
Botswana                        6539
Malawi                          6626
Djibouti                        6715
Namibia                         6741
Togo                            6767
Guinea-Bissau                   6783
Senegal                         6795
Sudan                           6898
Cameroon                        6911
Uganda                          6954
Swaziland                       7166
Gambia                          7304
Niger                           7339
Benin                           7346
Guinea                          7372
Burkina Faso                    7527
Cabo Verde                      7553
Sao Tome and Principe           7613
Lesotho                         7703
Mali                            7777
Mauritania                      7831
Nigeria                         8085
Gabon                           8107
Ghana                           8257
Cote d'Ivoire                   8308
South Africa                    8819
Algeria                         8992
Mauritius                       9054
Morocco                         9740
Tunisia                         9741
Egypt                          10065
Name: Value, dtype: int64

In [11]:
fp['Year'] = fp['Year'].astype(str)

In [12]:
a = fp[fp['Item'].str.contains('Oats')]

In [13]:
a[a.Year == '2010']

            Country  Item  Year  Value
46          Algeria  Oats  2010     88
6406       Ethiopia  Oats  2010     48
7746          Ghana  Oats  2010      0
9286          Kenya  Oats  2010      3
10026       Lesotho  Oats  2010      0
13186       Morocco  Oats  2010     37
17816  South Africa  Oats  2010     34
20056       Tunisia  Oats  2010      2
22516      Zimbabwe  Oats  2010      1